[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "==5.9.5"

[dev-packages]
towncrier = "==22.12"
pytest = "==7.3.1"
pytest-cov = "==4.0.0"
coverage = "==7.2.5"
python-daemon = "==3.0.1"
pycodestyle = "==2.10.0"
pydocstyle = {version = "==6.3.0", extras = ["toml"]}
restructuredtext-lint = "==1.4.0"
mypy = "==1.2.0"
black = "==23.3.0"
pygments = "==2.15.1"
tbump = "==6.9.0"

[requires]
python_version = "3.11"
