[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "==5.9.8"

[dev-packages]
towncrier = "==23.11.0"
pytest = "==8.0.0"
pytest-cov = "==4.1.0"
coverage = "==7.4.1"
python-daemon = "==3.0.1"
restructuredtext-lint = "==1.4.0"
mypy = "==1.8.0"
black = {version = "==24.1.1", markers="python_version >= '3.8'"}
pygments = "==2.17.2"
tbump = "==6.11.0"
ruff = "==0.2.0"
