# test runs requirements (versions we'll be testing against) - automatically updated
psutil==5.8.0
pytest==6.2.1  # tests framework used
pytest-cov==2.11.0  # coverage reports to verify tests quality
coverage==5.3.1 # pytest-cov
python-daemon==2.2.4  # used in test for easy creation of daemons
docutils  # needed for python-daemon
-e .[tests]
