# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
coverage==4.2 # pytest-cov
pyflakes==1.2.3
pep8==1.7.0
pep257==0.7.0
mccabe==0.5.0
psutil==4.3.0
restructuredtext-lint==0.15.0
pygments==2.1.3