name: Package and publish
on:
  push:
    tags:
      - v*



jobs:
  build:
    uses: fizyk/actions-reuse/.github/workflows/pypi.yml@v1.6.4
    with:
      publish: true
    secrets:
      pypi_token: ${{ secrets.pypi_password }}
