name: Run tests

on:
  push:
    branches: [ main ]
    paths:
      - '**.py'
      - .github/workflows/tests.yml
      - requirements-testtxt
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, pypy-3.7-v7.3.3]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-test.txt
    - name: Run test
      run: |
        py.test --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.0.3
      with:
        file: ./coverage.xml
        flags: linux
        env_vars: OS, PYTHON
        fail_ci_if_error: true
